
.home{
    padding-top: 50px;
}

.description{
    padding-bottom: 15px;
}

.itemDef{
    margin-top: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: 2px solid #eee;
}

