
<h3 data-api-type></h3>
<p ng-bind-html="apiDescription"></p>
<br/>
<input type="text" ng-model="query" class="search-query " placeholder="Filter"></input>
	<span class="pull-right"><a href="" onclick="$('.accordion-body').collapse('hide')"><i class="icon-minus-sign"></i></a> / <a href="" onclick="$('.accordion-body').collapse('show')"> <i class="icon-plus-sign"></i></a></span> 
<br/>
<div class="span11" ng-repeat="(section,list) in glossary">
	<div class="accordion-heading">
		<a class="accordion-toggle" data-toggle="collapse"
			data-parent="#accordion2" href="#collapse{{$index}}">
			&#0187;{{section}}</a>
	</div>
	<div id="collapse{{$index}}" class="accordion-body collapse in">
		<div class="accordion-inner">
			<div class="itemDef" ng-repeat="item in list | filter:query">
				<h4>{{item.expression}}</h4>
				<p class="description" ng-bind-html="item.description"></p>
				<p><strong><small>example:</small></strong></p>
				<p class="well" ng-bind-html="item.example"></p>
			</div>
		</div>
		<br />
	</div>

</div>

